.containerfooter {
  display: flex;
  gap: 0.5rem;
  justify-content: space-around;
  background-color: #3d0000;
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}

footer > h3 {
  color: white;
}
